[package]
name = "peroxide"
version = "0.31.8"
authors = ["axect <axect@outlook.kr>"]
edition = "2018"
description = "Rust comprehensive scientific computation library contains linear algebra, numerical analysis, statistics and machine learning tools with farmiliar syntax"
repository = "https://github.com/Axect/Peroxide"
license = "MIT OR Apache-2.0"
categories = ["science"]
readme = "README.md"
documentation = "https://peroxide.surge.sh"
keywords = ["Numeric", "Science", "Dataframe", "Plot", "LinearAlgebra"]
exclude = ["example_data/", "src/bin/", "benches/", "example/", "test_data/", "peroxide-ad2"]

[badges]
travis-ci = { repository = "axect/peroxide" }
maintenance = { status = "actively-developed" }

[dev-dependencies]
float-cmp = "0.9"

[dependencies]
csv = { version = "1.1", optional = true, default_features = false }
rand = "0.8"
rand_distr = "0.4"
order-stat = "0.1"
puruspe = "0.2"
matrixmultiply = { version = "0.3", features = ["threading"] }
peroxide-ad = "0.3"
#num-complex = "0.3"
netcdf = { version = "0.7", optional = true, default_features = false }
pyo3 = { version = "0.17", optional = true }
blas = { version = "0.22", optional = true }
lapack = { version = "0.19", optional = true }
serde = { version = "1.0", features = ["derive"], optional = true }
json = { version = "0.12", optional = true }
arrow2 = { version = "0.14", features = ["io_parquet", "io_parquet_compression"], optional = true }

[package.metadata.docs.rs]
rustdoc-args = [ "--html-in-header", "katex-header.html" ]

[features]
default = []
O3 = ["blas", "lapack"]
plot = ["pyo3"]
nc = ["netcdf"]
parquet = ["arrow2"]
