[package]
name = "peroxide"
version = "0.14.1"
authors = ["axect <edeftg@gmail.com>"]
description = "Rust comprehensive scientific computation library contains linear algebra, numerical analysis, statistics and machine learning tools with farmiliar syntax"
repository = "https://github.com/Axect/Peroxide"
license = "BSD-3-Clause"
categories = ["science"]
readme = "README.md"
documentation = "https://docs.rs/peroxide/"
keywords = ["Numeric", "R", "MATLAB", "Python", "Scientific"]
exclude = ["example_data/", "src/bin/", "benches/", "example/"]

[badges]
maintenance = { status = "actively-developed" }

[dependencies]
csv = "1"
rand = "0.7"
special = "0.8"
pyo3 = "0.7"
blas = { version = "0.20", optional = true }
lapack = { version = "0.16", optional = true }

[package.metadata.docs.rs]
rustdoc-args = [ "--html-in-header", "katex-header.html" ]

[features]
default = []
native = ["blas", "lapack"]